.venv
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
/build/
/dist/
*.log
*.bak
*.class
*.o
*.a
*.lo
*.so
Pipfile.lock
venv/
*.log
*.tmp
*.swp
*.bak
*.orig
.env
*.env
*.local
*.bak
*.swp
*~
.DS_Store
*.egg-info

