.venv/
.github/
venv/
env/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
